<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text"aria-label="lorem ipsum" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors">Username is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" aria-label="lorem ipsum" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />           
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors">Password is required</div>  
                </div>
            </div>
            <div class="mb-3">
                <div>      
                    <label class="checkbox" >Remember me</label>
                    <input type="checkbox" aria-label="lorem ipsum" formControlName="rememberMe" class="checkbox">
                </div>
            </div>
            <div>
                <button type="Submit" [disabled]="loading" class="btn btn-primary" >
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Login
                </button>
                <a routerLink="../register" class="btn btn-link">Register</a>
            </div>
        </form>
    </div>
</div>