<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Znajdź auto dla siebie</h5>
  
          <p>
            Wybierz spośród setek marek najlepszy wybór dla Ciebie
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Odkryj auto</h5>
  
          <p>
            Obawiasz się kosztów związanych z wymarzonym autem? Sprawdź ile inne osoby to kosztowało
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-dark">razor1997</a>
    </div>
    <!-- Copyright -->
  </footer>
