<form>
    <div class="container register">
    <div class="form-group">
      <label for="username">Nazwa użytkownika</label>
      <input type="text" class="form-control" id="username" placeholder="Podaj nazwę użytkownika" required>
      <label for="username">Miejsce zamieszkania</label>
      <input type="text" class="form-control" id="city" placeholder="Miejsce zamieszkania" required>
    </div>
    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" class="form-control" id="password" placeholder="Podaj hasło" required>
    </div>    
    <div class="form-group">
      <label for="mark">preferowaną markę samochodu</label> 
      <mat-form-field>
        <mat-label>Cars</mat-label>
        <select aria-label="State" matNativeControl required>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </mat-form-field>
    </div>
    <button type="submit" class="btn btn-primary">Zarejestruj się</button>
  </div>
</form>

