<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odkryj Swoje Auto</title>
</head>
<body>
    <div class="container">
        <h1>WITAJ NA STRONIE GDZIE ODKRYJESZ SWOJE AUTO</h1>
        <app-slider [images]="images"></app-slider>
        <div class="image-wrapper">
            <!-- <img src="../assets/carsImages/audi_r8.jpg" alt="Samochód 1"> -->
            <!-- <img src="../assets/carsImages/m4.jpg" alt="Samochód 2"> -->
        </div>
        <div class="image-wrapper">
            <!-- <img src="../assets/carsImages/nissan_gtr.jpg" alt="Samochód 3" class="full-width"> -->
        </div>
        <div class="text-section">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="image-wrapper">
            <!-- <img src="car4.jpg" alt="Samochód 4" class="full-width"> -->
        </div>
    </div>
</body>
</html>