<div class="card" >
        <div class="card-body">
            <h1 class="card-title">Register</h1>
            <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
                <div class="mb-3">
                    <label for="firstName" class="col-form-label col-sm-5">First Name:</label>
                    <div class="col-md-10">
                        <input type="text" id="firstName" formControlName="firstName" class="form-control" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="lastName" class="col-form-label col-sm-5">Last Name:</label>
                    <div class="col-md-10">
                        <input type="text" id="lastName" formControlName="lastName" class="form-control" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="email" class="col-form-label col-sm-5">Email:</label>
                    <div class="col-md-10">
                        <input type="email" id="email" formControlName="email" class="form-control" />
                    </div>
                    <div class="col-md-10">
                        <em *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a valid email</em>
                        <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-form-label col-sm-5">Password:</label>
                    <div class="col-md-10">
                        <input type="password" id="password" formControlName="password" class="form-control" />
                    </div>
                    <div class="col-md-10">
                        <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>                    
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="confirm" class="col-form-label col-sm-5">Confirm Password:</label>
                        <div class="col-md-10">
                            <input type="password" id="confirm" formControlName="confirm" class="form-control" />
                        </div>
                    <div class="col-md-10">
                        <em *ngIf="!passwordsEqual()">Passwords are not equal</em>
                    </div>
                </div>
                <br>
                <div class="mb-3">
                    <div class="col-md-1">          
                        <button type="submit" class="btn btn-info" [disabled]="!registerForm.valid || !passwordsEqual()">Register</button>
                    </div>
                </div>
            </form>
        </div>
  </div>