<div class="container">
    <h4 class="caption">Auta wybrane dla Ciebie</h4>
    <table class="table table-striped" border = "1">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Buy Price</th>
                <th>Body Type</th>
                <th>Year of Production</th>
                <th>Mileage</th>
                <th>Engine Capacity</th>
                <th>Owner Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="assets/carsImages/e60.jpg" 
                        alt="Image 1" 
                        width="100"
                        (click)="openImage('assets/carsImages/e60.jpg' )">
                </td>
                <td>BMW</td>
                <td>E60</td>
                <td>20000</td>
                <td>Sedan</td>
                <td>2009</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
  </div>