<div class="container">
    <div class="addCarForm">
      <h1 class="title">Dodaj pojazd</h1>
      
      <form [formGroup]="addCarForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="brand">Marka:</label>
          <select id="brand" name="brand" class="form-control" #brandSelect>
            <option value="BMW" id="1">BMW</option>
            <option value="Mercedes-Benz" id="2">Mercedes-Benz</option>    
            <option value="Audi" id="3">Audi</option>      
        </select>
        </div>
        
        <div class="form-group">
          <label for="model">Model:</label>
          <select id="model" name="model" class="form-control" #modelSelect>
            <option value="series5" id="5">Seria 5</option>
            <option value="A6" id="6">A6</option>
            <option value="e-class" id="3">Klasa E</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="mileage">Przebieg:</label>
          <input type="number" 
            id="mileage" 
            name="mileage" 
            class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.mileage.errors }" 
          #mileage>
        </div>
        <div *ngIf="submitted && f.mileage.errors" class="invalid-feedback">
          <div *ngIf="f.mileage.errors">Proszę podać przebieg</div>  
        </div> 

        <div class="form-group">
          <label for="buyPrice">Koszt zakupu:</label>
          <input type="number" 
            id="buyPrice" 
            name="buyPrice" 
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.buyPrice.errors }" 
            #buyPrice>
          <div *ngIf="submitted && f.buyPrice.errors" class="invalid-feedback">
            <div *ngIf="f.buyPrice.errors">Wymagane podanie kosztów zakupu</div>  
        </div>      
        </div>

        <div class="form-group">
          <label for="year">Rok produkcji:</label>
          <select id="year" name="year" class="form-control" #yearSelect>
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>    
        <div class="form-group">
          <label for="type">Type:</label>
          <input type="text" id="type" name="type" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-primary"  >Add Car</button>
      </form>
    </div>
  </div>