<div class="container">
    <div class="car-form">
      <h1 class="title">Dodaj pojazd</h1>
      
      <form>
        <div class="form-group">
          <label for="brand">Marka:</label>
          <select id="brand" name="brand" class="form-control">
          <option value="BMW">BMW</option>
          <option value="Audi">Audi</option>
          <option value="Mercedes-Benz">Mercedes-Benz</option>          
        </select>
        </div>
        
        <div class="form-group">
          <label for="model">Model:</label>
          <select id="model" name="model" class="form-control">
            <option value="series5">Seria 5</option>
            <option value="A6">A6</option>
            <option value="eclass">Klasa E</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="mileage">Przebieg:</label>
          <input type="number" id="mileage" name="mileage" class="form-control">
        </div>
        
        <div class="form-group">
          <label for="type">Type:</label>
          <input type="text" id="type" name="type" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-primary">Add Car</button>
      </form>
    </div>
  </div>