<div class="container">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Brand</th>
              <th>Model</th>
              <th>Buy Price</th>
              <th>Body Type</th>
              <th>Year of Production</th>
              <th>Mileage</th>
              <th>Engine Capacity</th>
              <th>Owner Name</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let car of userCars">
              <td>{{ car.brand }}</td>
              <td>{{ car.model }}</td>
              <td>{{ car.buyPrice }}</td>
              <td>{{ car.bodyType }}</td>
              <td>{{ car.yearProduction }}</td>
              <td>{{ car.mileage }}</td>
              <td>{{ car.engineCapacity }}</td>
              <td>{{ car.ownerName }}</td>
          </tr>
      </tbody>
  </table>
</div>