<ul *ngFor="let car of userCars">
    <li>
      <h2>{{ car.brand }} {{ car.model }}</h2> <!-- Car brand and model -->
      <p><strong>Buy Price:</strong> {{ car.buyPrice }}</p> <!-- Buy Price -->
      <p><strong>Body Type:</strong> {{ car.bodyType }}</p> <!-- Body Type -->
      <p><strong>Year of Production:</strong> {{ car.yearProduction }}</p> <!-- Year of Production -->
      <p><strong>Mileage:</strong> {{ car.mileage }}</p> <!-- Mileage -->
      <p><strong>Engine Capacity:</strong> {{ car.engineCapacity }}</p> <!-- Engine Capacity -->
      <p><strong>Owner Name:</strong> {{ car.ownerName }}</p> <!-- Owner's Name -->
    </li>
  </ul>