<div class="container">
    <h1 class="mt-3">Edytuj artykuł</h1>
    <ng-container *ngIf="model" >
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-3">
            <label for="title" class="form-label">Tytuł</label>
            <input type="text"
            id="title"
            name="title"
            class="form-control"
            [(ngModel)]="model.title">
        </div>
            <div class="mt-3">
                <label for="shortDescription" class="form-label">Krótki opis</label>
                <input type="text"
                id="shortDescription"
                name="shortDescription"
                class="form-control"
                [(ngModel)]="model.shortDescription">
            </div>

        <div class="mt-3">
            <label for="content" class="form-label">Zawartość</label>
            <textarea name="content" id="content"
                class="form-control"
                [(ngModel)]="model.content"></textarea>
        </div>
  
        <div class="mt-3">
            <label for="featuredImageUrl" class="form-label">Url zdjęcia</label>
            <ng-container *ngIf="model.featuredImageUrl !== ''">
                <div>
                    <img [src]="model.featuredImageUrl" height="100" class="my-2" alt="scr">
                </div>
            </ng-container>


            <input type="text"
            id="featuredImageUrl"
            name="featuredImageUrl"
            class="form-control"
            [(ngModel)]="model.featuredImageUrl">
        </div>
        <div class="mt-3">
            <label for="publishedDate" class="form-label">Data publikacji</label>
            <input type="date"
            id="publishedDate"
            name="publishedDate"
            class="form-control"
            value="{{model.publishedDate}}"
            [ngModel]="model.publishedDate | date: 'yyyy-MM-dd'"
            (ngModelChange)="model.publishedDate = $event">
        </div>
            <div class="mt-3">
                <label for="author" class="form-label">Autor</label>
                <input type="text"
                id="author"
                name="author"
                class="form-control"
                [(ngModel)]="model.author">
            </div>

    <div class="form-check mt-3">
        <input class="form-check-input" 
        type="checkbox" 
        id="isVisible"
        name="isVisible"
        [(ngModel)]="model.isVisible">
        <label class="form-check-label" for="isVisible">
          Czy jest widoczne?
        </label>
      </div>
      <div class="mt-3">        
        <label for="categories" class="form-label">Kategorie</label>
        <ng-container *ngIf="categories$ | async as categories">
            <select class="form-control" [(ngModel)] = "selectedCategories" name="categories"
            id="categories">
            <option *ngFor="let category of categories" [value]="category.id" multiple>
                {{category.name}}
            </option>
        </select>
        </ng-container>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Zapisz</button>
      </div>
    </form>
</ng-container>
</div>